<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Reset Password</title> 
</head>
<body>
    <img src="full stack images/cpassword.jpg" style="height: 100px; margin-left: 695px; margin-top:20px;">
    <h3 style="text-align: center; margin-top:70px;">Set New Password</h3><br>
    <div class="alert alert-info" role="alert" style="width: 30vw; text-align:center; margin-left:550px;">Your new Password must be different to previously used passwords</div><br>
    <form>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 mx-auto">
                  <label for="exampleInputEmail1" class="form-label" style="font-weight: bold;">New Password</label>
                  <input type="password"  value="" id="newpassword" class="d-block p-2 bg-bright text-black" style="width: 100%; border: solid black 1px;"><br>
                  <label for="exampleInputEmail1" class="form-label" style="font-weight: bold;">confrim Password</label>
                  <input type="password" value="" id="confirmpassword" class="d-block p-2 bg-bright text-black" style="width: 100%; border: solid black 1px;"><br>
                  <input type="checkbox" onclick="myFunction()">Show Password<br>
                  <button id = "accclose" class="btn btn-outline-secondary" type="button">Reset</button>
            </div>
          </div>
        </div>
      </form> 
      <script>
        function myFunction() {
          var x = document.getElementById("newpassword");
          var y = document.getElementById("confirmpassword");
          if (x.type === "password" && y.type === "password") {
            x.type = "text";
            y.type = "text";
          } else {
            x.type = "password"; 
            y.type = "Password";
          }
        }
          const isPasswordSecure = (newp) =>{
          const re = new RegExp("^(?=.[a-z])(?=.[A-Z])(?=.[!@#$%^&])(?=.{8,})");
          if (newp?.toString().includes(" ")){
              return false;
          }
          else{
              return re.test(newp);
          }
      };
      const checkPassword = (pass1) => {
      
        console.log("Hi I entered into password block")
        let valid = false;
        let change1 = document.querySelector(".password-error");
        if (!isPasswordSecure(pass1)) {
            return false;
            // ShowError(pass1,change1,'Password must has at least 8 characters & include at least 1 lowercase character, 1 uppercase characters, and 1 special character in (!@#$%^&*)');
        } else {
            // ShowSuccess(pass1,change1);
            valid = true;
        }
      
        return valid;
      };
      const reCheckPassword = (pass1, pass2)=>{
        console.log("Hi you entered into repassword mansion")
        let valid = false;
        // let change2 = document.querySelector( ".repassword-error");
        // let confirmpassword = pass2.value;
        // let password1 = pass1.value; 
        if(pass2 != pass1) {
            return false;
            // ShowError(pass2,change2, 'Password should match');
        }
        else {
            // ShowSuccess(pass2,change2);
            valid = true;
        }
        return valid;
      };
        document.addEventListener('DOMContentLoaded',function(){
          const n=document.querySelector('#accclose')
          n.onclick=function password(){
          let newp=document.querySelector('#newpassword').value;
          console.log(newp)
          let confirmp=document.querySelector('#confirmpassword').value;
          console.log(confirmp)
          if(newp===confirmp){
              alert(`Sucessfully changed password`)
              return true;
          }
          else{
              alert(`password does not match`)
              return false;
          }
      }
      return true;
      });
      exports.isPasswordSecure=isPasswordSecure;
      exports.checkPassword=checkPassword;
      exports.reCheckPassword=reCheckPassword;
      </script>
</body>
</html>