<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    </head><br>
    <body class="auth_class" style="margin-top: 90px; margin-left:500px; background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);">
                  <h1 class="auth_title text-left">Password Reset</h1>
                  <form><br>
                    <div class="alert alert-success bg-soft-primary border-0" role="alert" style="width: 40vw;">
                        Enter your email address and we'll send you an email with instructions to reset your password.
                    </div><br>                    
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Email Address" style="width: 40vw;"> 
                    </div><br>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary btn-lg btn-block" style="width: 20vw;">Send a Link Gmail</button>
                    </div>
                  </form>
                </div>
            </div>       
          </div>
        </div>
    </body>

</html>