<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
  .navbar{
    background-color: aliceblue;
  } 
</style>
<body>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="full stack images/crs.jpg" style="width:80px;height: 80px;">
    </div>
    <ul class="nav navbar-nav">
      <div style="color:black; margin-left:20px;">
      <h1 >Content Review System </h1>
      </div>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <a class="btn btn-primary" style="margin-top: 15px;" href="{%  url 'registration' %}"> sign up</a>
      <a class="btn btn-primary"style="margin-top: 15px; margin-left:10px;"href="{% url 'login' %}"> Login</a>
      
    </ul>
  </div>
</nav>
<img src="full stack images/content-review-approval-process.png" style="width:100vw; min-height:300px;">
</body>
</html>
