{% extends 'LR/layout.html' %}
{% block body %}
    <form action="">
      <!-- <p id="demo"></p> -->
      <div class="mean" style="margin: 350px;">
        <div class="serchbox">
          <input type="text" value="" class="searchbx" style="width: 550px; margin-left:130px;">
        </div><br>
        <div class="button" id="srchbtn">
          <input type="button" value="search" class="btn btn-info buttonsearch" style="margin-left: 365px;">
        </div>
        <!-- <iframe id="myIframe" src ="" marginwidth="0" marginheight="0" width="100%" height="100%"></iframe> -->
      </div>
    </form>
  </section>
    <script src="searchbar.js" ></script>

    <!-- <div style="height:80vh;width:100vw;border:5px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    <p>
      Open URL in New Tab using JavaScript
      If you want to open URl in a new tab, you have to use "_blank" in second parameter of window. open(). Also, do not add a third parameter to it as it will result in the opening of a new window rather than a tab.
    </p>
    </div> -->
{% endblock %}
